services:
  - type: web
    name: notezy-telegram-bot
    runtime: python3
    buildCommand: pip install -r requirements.txt
    startCommand: python start.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: MONGODB_URI
        sync: false
      - key: WEBHOOK_URL
        sync: false
      - key: PORT
        fromService:
          type: web
          name: notezy-telegram-bot
          property: port